*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.banner{
    height: 100vh;
    width: 100%;
    /*background-image: url("image1.jpg");*/
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat:no-repeat;
    
}
svg path{
    fill :transparent;
    stroke: #fff;
    stroke-width: 1;
    stroke-dasharray: 50;
    /* stroke-dashoffset: 50; */
    animation: textAnimation 4s ease-in-out forwards;
}
@keyframes textAnimation {
    0%{
        stroke-dashoffset: 50;
    }
    100%{
        fill: #fff;
        stroke-dashoffset: 0;
    }
    70%{
        fill: transparent;
    }
}
